build-aux/
m4/
autom4te.cache/
.deps/
.libs/
*.o
*.lo
*.la
configure
libtool
Makefile
Makefile.in
aclocal.m4
config.log
config.status
headerbarui.gresource
headerbarui.sublime-project
headerbarui.sublime-workspace
scratchbox
resources.c
resources.h
build/
.ninja*
run
